<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=10.8.0.228;Initial Catalog=Beauty_HK_9004;User ID=sa;PWD=sasa" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.8.0.30,16666;Initial Catalog=Beauty_HK_IDP;User ID=HKTest;PWD=test123" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=OMC6;User ID=sa;PWD=sasa" />-->
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Shop_Data;User ID=sa;PWD=sasa" />
  </connectionStrings>
  <appSettings>
    <add key="Company" value="IM">
    </add>
    <add key="SHOPCODE" value="IAP">
    </add>
    <add key="Describe" value="Beauty PRO. 離線系統資料交換系統">
    </add>
    <add key="Version" value="V1.0.1">
    </add>
    <add key="ExecHour" value="2,18">
    </add>
    <add key="ExecFirst" value="N">
    </add>
    <add key="DtsFilePathC" value="D:\\DTS\\COMPANY\\">
    </add>
    <add key="DtsFilePathS" value="D:\\DTS\\SHOP\\">
    </add>
    <add key="DtsFilePathP" value="D:\\DTS\\PUBLIC\\">
    </add>
    <add key="DtsFilePath" value="D:\\DTS\\">
    </add>
    <add key="FTPIP" value="10.8.0.24">
    </add>
    <add key="FTPID" value="ftpuser">
    </add>
    <add key="FTPPW" value="Ftp123">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>